<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>HELLO!</h1>
    <div>
        <span>text from server: <%= text %></span>
    </div>
</body>
</html>
